.title {
	// margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
	font-size: 80px;
}

.name {
	text-align: center;
}

.objective {
	padding-left: 80px;
	padding-right: 80px;
	margin-bottom: 40px;
	margin-top: 80px;
	text-align: left;
}

.home_purpose_text {
	padding-left: 80px;
	padding-right: 700px;
	text-align: left;
}

.picture1 {
	width: 360px;
	height: 175px;
	align-self: right;
}

.body {
	background-color: lightgray;
}

