.title {
	// margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 80px;
}

.name {
	text-align: center;
}

.objective {
	padding-left: 80px;
	padding-right: 80px;
	margin-bottom: 30px;
	margin-top: 40px;
	text-align: left;
	font-size: 30px;
}

.home_purpose_text {
	padding-left: 80px;
	padding-right: 120px;
	text-align: left;
	flex: 1;
}

.picture1 {
	width: 480px;
	height: 233px;
	margin-right: 110px;
}

.header-right {
	text-align: right;
	padding-top: 30px;
	font-size: 30px;
	padding-right: 80px;

}

.paragraph-right {
	// padding-top: 20px;
	padding-right: 80px;
	padding-left: 120px;
	text-align: left;
	flex: 2;
}

.picture2 {
	width: 512px;
	height: 308px;
	margin-left: 110px;
	flex: 1;
}

.div1 {
	// background-color: lightgray;
	margin-top: 30px;
}

.div2 {
	display : flex;
	align-items: flex-start;
	align-items: center;
	background-color: lightgray;
}

.div3 {
	display: flex;
	align-items: flex-start;
	align-items: center;
	background-color: lightgray;
	margin-bottom: 30px;
}

