nav {
    max-height: 60px;
    align-items: center;
    background: hsl(210, 17%, 90%);
    // margin: 0rem 0rem 5rem 0rem;
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 10px;

    margin-bottom: 20px;

    .auth-links {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        a {
            position: relative;
            padding: 5px;
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-weight: bold;
            background-color: rgb(0, 0, 0);
            border-radius: 10px;
        }

        a::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -6px;
            /* Adjust this value to control the distance of the underline from the text */
            width: 0;
            height: 4px;
            /* Adjust this value to control the thickness of the underline */
            background-color: black;
            /* Change this to your desired underline color */
            transition: width 0.3s ease;
            /* Add transition for smooth animation */
            border-radius: 4px;
        }

        a:hover::after {
            width: 100%;
            /* Expand the underline to cover the width of the text on hover */

        }

        a:hover {
            color: rgb(255, 255, 255);
            /* Keep the text color the same on hover - becasue of link */
        }


    }



    .logo {
        margin-right: 60px;
        margin-left: 40px;
        max-height: 60px;
    }

    button,
    .nav-link {
        margin-left: auto;
        background: transparent;
        border: none;
        // margin-right: 40px;
    }
}

// nav > button {
//     margin-left: auto;
//     margin-right: 40px; /* button needed a gap */
// }