@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    text-align: center;
    font-size: 4rem;
    color: #e0e0e0; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
}


/* Add this CSS for underline animation */
.auth-btn {
  background-color: #c45050; 
  border: none;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  padding: 1rem 1.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.solid {
    border: 2px solid #000000;
    border-radius: 2px;
    opacity: 1;
}

.find-space-title {
    color:#010101;
    font-weight: bold;
    font-size: 42px;
}

.create-space {
    margin-top: 30px;
    border: 2px solid rgba(0, 0, 0);
    border-radius: 13px;
    display: block;
    width: 80%;
}

.create-space > section {
    align-items: center;
    text-align: center;
    margin: 2rem 0;
}

.create-space .images {
    display: flex;

    flex-wrap: wrap;
    min-height: 400px;
}
.space-list > .space-list-left {
    flex: 1;
    border: 5px solid #646464a6;
    width: 200px;

    align-items: center;
    flex-direction: column;

}

.create-space .images img {
    width: 300px;
    margin: 10px;
}

.create-space > h1 {
    color:#010101;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.create-space input{
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0);
    border-radius: 10px;
    font-size: 16px;
    color: black;
    padding: 10px 45px 10px 10px;
}

.create-space > section > h4 {
    margin-bottom: 3px;
    text-align: left;
    padding-left: 60px;
    font-size: 18px;
    color: #000000;
}

.create-space textarea{
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0);
    border-radius: 10px;
    font-size: 16px;
    color: black;
    padding: 10px 45px 10px 25px;
}

.create-button {
    padding-top: 15px;
    align-items: center;
    padding-bottom: 10px;
    text-align: center;
}

.space-view-h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin-bottom: 50px; */
    font-size: 30px;
    font-weight: 100;
    text-decoration: overline solid #000000;
    padding: 10px;
    padding-left: 0;
    color: #a20000;
}

.space-view-desc {
    font-size: 24px;
    margin-bottom: 50px;
}

.create-space .images {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.create-space .images img {
    width: 300px;
    margin: 10px;
}

.space-view-images img {
    width: 300px;
    margin: 10px;
}

.tags {
    display: inline-block;
    gap: 0.2rem;
    display: flex;
    flex-direction: row;
}

.tag {
    background-color: rgb(196, 231, 255);
    padding: 0.2em;
    margin: 0;
    border-radius: 0.4em;
}

.tag.edit:hover {
    background-color:rgb(225, 158, 158);
    transition: background-color 250ms linear;
}

