.header-logo {
    max-height: 50px;
}

.header {
    display: flex;
    flex-wrap: wrap;
}

.header > nav > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 2rem;
}

.header > nav > ul > li > a {
    text-decoration: none;
}