.header-logo {
    max-height: 110px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.header > button {
    margin-left: auto;
    margin-right: 0;
}

.header > nav > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 2rem;
}

.header > nav > ul > li > a {
    text-decoration: none;
}

div {
    border-style: dashed;
    margin: 0.5rem;
}

.space-list {
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
}
.space-list > .space-list-left {
    flex: 1;
}
.space-list > .space-list-right {
    flex: 2;
}
